<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src='src/Thermostat.js'></script>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Bootstrap -->
    <link rel="stylesheet" src="./public/style.css">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->



    <style>
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}


.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50px;
}

.strPSMOff {
  display: none;
}
</style>

<script>


$(document).ready(function(){
  var thermostat; 
  thermostat = new Thermostat();
  console.log(thermostat);
  $('#Temperature').text(thermostat._temperature);
  $('#up').click(function() {
    thermostat.up();
    $('#Temperature').text(thermostat._temperature);
  })
  $('#down').click(function() {
    thermostat.down();
    $('#Temperature').text(thermostat._temperature);
  })
  $('#resetTemperature').click(function() {
    thermostat.resetTemperature();
    $('#Temperature').text(thermostat._temperature);
  })

  $('input[type="checkbox"]').click(function(){
      if($(this).prop("checked") == true){
          console.log("Checkbox is checked.");
          $("#strPSMOn").slideUp();
        $(".strPSMOff").slideDown();
      }
      else if($(this).prop("checked") == false){
          console.log("Checkbox is unchecked.");
          $("#strPSMOn").slideDown();
          $(".strPSMOff").slideUp();
      }
  });
});


</script>

  </head>
  <body>
    <class = 'center'>   
    <img src="https://rlv.zcache.co.uk/charming_cartoon_frog_classic_round_sticker-r3ebf5b9f28db432f904700128740f62e_0ugmp_8byvr_307.jpg?rvtype=content" alt="Frog" width='200' height='200'> 
    <h1>Eco Thermostat</h1>
    </class>

    <div class="container">
      <button id='up'><h4> Increase Temperature</h4></button>
      <br></br>
      <h1 id='Temperature'> 20C </h1> <button id='resetTemperature'><h4> Reset Temperature</h4></button>
      <br></br>
      <button id='down'><h4> Decrease Temperature</h4></button>
      
         
    </div>
    <br></br>
    <div class="container">
      <h4> PowerSaveMode: <span id="strPSMOn"> ON </span> <span class="strPSMOff" >OFF</h4>
    </div>
    <!-- Rounded switch -->
    <div class="btnPSM">
      <label class="switch">
        <input type="checkbox">
        <span class="slider round"></span>
      </label>
    </div>

    <!-- jQuery (necessary for Bootstraps JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
  </body>
</html>